# Overall processing variables
bool processParallel False
bool processQvsT False
#bool maxMinAvoided False
bool cleanModeLatex False
bool forceProcess  True #even if results file exist it proceess the results, otherwise it checks if it exists
bool setPrintDataForGle True
bool isTrnsys True
int reduceCpu 1
string outputLevel "DEBUG"

bool createLatexPdf False # 
bool calculateHeatDemand True
# bool dailyBalance True

# Sorting the results (so far only one year can be analysed and displayed)
int yearReadedInMonthlyFile -1
int firstMonthUsed 6     # 0=January 1=February 6=July 7=August
int numberOfYearsInHourlyFile 1 #20

# Paths
string latexNames "latexNames.json"
string pathBase "."
# string typeOfProcess "completeFolder"
string typeOfProcess "casesDefined"
string fileName "complete-0"
string dllTrnsysPath "C:\Trnsys18\UserLib\ReleaseDlls"

stringArray plotHourly "T1_Tes1" "T2_Tes1" "T3_Tes1" "T4_Tes1" "T5_Tes1" "T6_Tes1" "T7_Tes1" "T8_Tes1" "T9_Tes1" "T10_Tes1" "TAvg_Tes1" 
stringArray plotHourly "Tdp1In_Tes1" "Tdp1InRev_Tes1" "TTesDpL99_4"
stringArray plotHourly "CollTOut" "kbpTSources" "kbpTNetReturn"

calc solarFraction = 1-qSysIn_Bolr_Tot/qSysOut_QSnk_Tot
calc QDemand = qSysOut_QSnk_Tot


########## results file array #############
stringArray results "QSnkDemand_MWh" "dpGapThick" "dpLambdaGap" "Tini_Tes1" "Ufoam_Tes1" "Ubot_Tes1" "Heigh_Tes1" "szAperDemand_m2_per_MWh" "Vol_Tes1" "szVperDemand_m3_per_MWh" "CollAcollAp" "solarFraction" "kpriMMax" "qSysIn_Coll" "qSysIn_Coll_Tot" "qSysIn_Bolr" "qSysIn_Bolr_Tot" "qSysOut_QSnk" "qSysOut_QSnk_Tot"