############# GENERIC ##############################
# bool ignoreOnlinePlotter True
bool ignoreOnlinePlotter False

bool removePopUpWindow False
# bool removePopUpWindow True

bool runCases False

string nameRef "TTES"

##################PATHS##################"

string addResultsFolder "results"

string PROJECT$ "C:\Users\damian.birchler\src\resultes\wd1\resultes-pytrnsys-systems\TTES\ddck"
string projectPath "C:\Users\damian.birchler\src\resultes\wd1\resultes-pytrnsys-systems\TTES"

# string trnsysExePath "C:\CI-Progams\TRNSYS18\Exe\TrnEXE.exe"
string trnsysExePath "C:\TRNSYS18\Exe\TrnEXE.exe"

############# Overwrite values in DDCK ##################
deck START 5*30*24
deck STOP START+8760
deck dtSim 2*1/60

# QSnk
deck QSnkDemand_MWh 15000

# double pipe
deck dpLambdaGap 0.04   ! Thermal conductivity of gap material in kJ/hr.m.K
deck dpGapThick 0.06    ! Gap thickness in m

# storage
deck Tini_Tes1 60       ! 6: oC, initial temperature
deck Tmax_Tes1 140
deck Ufoam_Tes1 0.08    ! W/(m2K) 50 cm of foam of 0.04 W/(mK)
deck Ubot_Tes1 0.08     ! W/(m2K) 50 cm of foam of 0.04 W/(mK)
deck Heigh_Tes1 20
deck zSen10_Tes1 0.95
# deck szVperDemand_m3_per_MWh 4
variation VTes szVperDemand_m3_per_MWh 3 5
deck Vol_Tes1 szVperDemand_m3_per_MWh*QSnkDemand_MWh


# collector
# deck szAperDemand_m2_per_MWh 2
variation AColl szAperDemand_m2_per_MWh 1 3
deck CollAcollAp szAperDemand_m2_per_MWh*QSnkDemand_MWh

#############USED DDCKs##################

PROJECT$ generic\head global

PROJECT$ sizing\sizing as sz

PROJECT$ common\atLeastTOutSourceSink as Bolr
deck BolrOn 1
deck BolrTOutMin kmixTNetSupplySet
assign temp\Bolr_MO.prt BolrUnitMonthly

PROJECT$ Coll\type1
PROJECT$ Coll\type1_constants_CobraAK2_8V

PROJECT$ common\type91 as HxColl
PROJECT$ common\type91 as HxAddSrc

PROJECT$ Tes\Tes global
deck zSen10_Tes1 0.99
deck zSen6_Tes1 0.5

PROJECT$ Tes\tes_plotter_and_printer global

PROJECT$ common\atLeastTOutSourceSink as QAddSrc
deck QAddSrcOn 0
assign temp\QAddSrc_MO.prt QAddSrcUnitMonthly

PROJECT$ QSnk\QSnk
assign temp\QSnk_MO.prt QSnkUnitMonthly

PROJECT$ control\PuCollPri as kpri
PROJECT$ control\PuCollSec as ksec
PROJECT$ control\ValByPass as kbp
PROJECT$ control\ValMix as kmix
PROJECT$ control\ValStrat as kstrat
PROJECT$ control\globals global
PROJECT$ control\hydraulic_control as khyd

PROJECT$ hydraulic\hydraulic global

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ generic\end global