############# GENERIC ##############################
# bool ignoreOnlinePlotter True
bool ignoreOnlinePlotter False

bool removePopUpWindow False
# bool removePopUpWindow True

string nameRef "TTES"


##################PATHS##################"

string PROJECT$ "C:\Users\damian.birchler\src\resultes\resultes-pytrnsys-systems\TTES\ddck"
string projectPath "C:\Users\damian.birchler\src\resultes\resultes-pytrnsys-systems\TTES"

# string trnsysExePath "C:\CI-Progams\TRNSYS18\Exe\TrnEXE.exe"
string trnsysExePath "C:\TRNSYS18\Exe\TrnEXE.exe"

############# Overwrite values in DDCK ##################
deck BolrOn 0

#############USED DDCKs##################

PROJECT$ generic\head global
PROJECT$ Bolr\type6
PROJECT$ Coll\control as Coll
PROJECT$ Coll\type1 as Coll
PROJECT$ Coll\type1_constants_CobraAK2_8V as Coll
PROJECT$ Hx\type991
PROJECT$ QSnk\QSnk
PROJECT$ Tes\Tes global
PROJECT$ control\hydraulic_control
PROJECT$ hydraulic\hydraulic global
PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global
PROJECT$ generic\end global