############# GENERIC ##############################
# bool ignoreOnlinePlotter True
bool ignoreOnlinePlotter False

bool removePopUpWindow False
# bool removePopUpWindow True

string nameRef "TTES"


##################PATHS##################"

string PROJECT$ "C:\Users\damian.birchler\src\resultes\wd1\resultes-pytrnsys-systems\TTES\ddck"
string projectPath "C:\Users\damian.birchler\src\resultes\wd1\resultes-pytrnsys-systems\TTES"

# string trnsysExePath "C:\CI-Progams\TRNSYS18\Exe\TrnEXE.exe"
string trnsysExePath "C:\TRNSYS18\Exe\TrnEXE.exe"

############# Overwrite values in DDCK ##################
deck START 5*30*24
deck STOP START+8760
deck dtSim 1/2

#############USED DDCKs##################

PROJECT$ generic\head global

PROJECT$ sizing\sizing as sz

PROJECT$ common\atLeastTOutSourceSink as Bolr
deck BolrTOutMin 80

PROJECT$ Coll\type1
PROJECT$ Coll\type1_constants_CobraAK2_8V
deck CollAcollAp szCollA

PROJECT$ HxColl\type991
PROJECT$ HxAddSrc\type991

PROJECT$ Tes\Tes global
PROJECT$ Tes\tes_printer global
deck Vol_Tes1 szTesV

PROJECT$ common\atLeastTOutSourceSink as QAddSrc
deck QAddSrcP_kW khydadditionalSourceOn*1000

PROJECT$ QSnk\QSnk
deck QSnkFactor 1/40000

PROJECT$ control\PuCollPri as kpri
PROJECT$ control\PuCollSec as ksec
PROJECT$ control\ValByPass as kbp
PROJECT$ control\ValMix as kmix
PROJECT$ control\hydraulic_control as khyd

PROJECT$ hydraulic\hydraulic global

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ generic\end global