############# GENERIC ##############################

bool ignoreOnlinePlotter True
# bool ignoreOnlinePlotter False

bool removePopUpWindow True
# bool removePopUpWindow False

bool runCases False
# bool runCases True

string nameRef "TTES"

deck nIteTrnsys 500
deck nWarnTrnsys 10000000
deck nCallTraceTrnys 1000

############# AUTOMATIC WORK BOOL ##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ################################

string pathToConnectionInfo "DdckPlaceHolderValues.json"

string addResultsFolder "results"

string PROJECT$ ".\ddck"
string COMMON$ "..\common\ddck"

string projectPath "."

string trnsysExePath "C:\Users\damian.birchler\src\resultes\runner\create-disk-image\contents\TRNSYS18\Exe\TrnEXE.exe"

################ SCALING #########################

string scaling "False"

############# Overwrite values in DDCK ##################


###### DEMAND ######
# TSetDem is defined in common\ddck\parameters\parameters.ddck

###### TANK STORE ######
deck Heigh_Tes1 50.3
deck Tini_Tes1 TSetDem-QSnkdT       ! 6: oC, initial temperature
deck Tmax_Tes1 140
deck Ufoam_Tes1 0.08    # W/(m2K) 50 cm of foam of 0.04 W/(mK)
deck Ubot_Tes1 0.08     # W/(m2K) 50 cm of foam of 0.04 W/(mK)
deck Heigh_Tes1 20
deck zSen10_Tes1 0.95
deck zSen10_Tes1 0.99
deck zSen6_Tes1 0.5
deck SolarControlTTesMax 90 # Maximum PTES temperature
deck SolarControlTTesMin SolarControlTTesMax-10

###### COLLECTOR ######
deck CollNbModTot CollAcollAp/CollAMod
deck loop2Len 500
deck CollNbNodes 10

###### HX ######
deck HxCollUA_kW_K CollAcollAp*1*Collc0/HxCollLMTDNom # The nominal power in the primary: A_coll[m2]*1[kW/m2]*a0
deck HxCollLMTDNom 5

deck HxQSrcUA_kW_K 1000


###### DISTRICT HEATING ######
deck SCnr_SCnr2_Len 1000
deck dpNrSlAxRef 5
deck dpNrSlCirc 2


############# USED DDCKs ##################

PROJECT$ generic\head global

COMMON$ parameters\parameters as cps
PROJECT$ parameters\parameters as ps

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4
assign ..\..\..\common\ddck\parameters\SolarCollectorIAM.txt CollUnitReadIAM

COMMON$ Bolr\type6

COMMON$ Hx\Type5b as HxColl
COMMON$ Hx\Type5b as HxQSrc

PROJECT$ Tes\Tes global
PROJECT$ Tes\tes_plotter_and_printer global

COMMON$ QSrc\QSrc_mfr_T
assign ..\..\..\common\ddck\parameters\src_profile_mfr_T.csv QSrcprofileSrcUnit

COMMON$ QSnk\QSnk
assign ..\..\..\common\ddck\parameters\demand.csv QSnkprofileSnkUnit

COMMON$ weather\CityZUR global
COMMON$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\Stagnation
PROJECT$ control\ValByPass as kbp

COMMON$ QSrcControl\QSrcActivation

COMMON$ ValStratControl\ValStrat_mikel
PROJECT$ control\variables global

PROJECT$ generic\end global
