############# GENERIC##############################

bool ignoreOnlinePlotter True
# bool ignoreOnlinePlotter False

bool removePopUpWindow True
# bool removePopUpWindow False

bool runCases False
# bool runCases True

string nameRef "PTES"

deck nIteTrnsys 500
deck nWarnTrnsys 10000000

############# AUTOMATIC WORK BOOL ##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ################################

string pathToConnectionInfo "DdckPlaceHolderValues.json"

string addResultsFolder "results"

string PROJECT$ ".\ddck"
string COMMON$ "..\common\ddck"

string projectPath "."

string trnsysExePath "C:\Users\damian.birchler\src\resultes\runner\create-disk-image\contents\TRNSYS18\Exe\TrnEXE.exe"

################SCALING#########################

string scaling "False" #"toDemand"

###### DEMAND ######
deck QSnkQ_MWh 30000
deck TSetDem 80

###### SOURCE ######
deck QSrcQ_MWh 0

###### PIT STORE ######
deck pitStoreIniT 40
deck pitStoreSlAng 30
deck pitStoreStHeight 10

###### COLLECTOR ######
deck CollNbModTot CollAcollAp/CollAMod
deck loop2Len 500
deck CollNbNodes 5

###### HP ######
deck HPsizeUsed QSnkQ_MWh/10
variation Hp HpAct 1 #0 1
deck HPtCondMax 500

###### HX ######
deck HxUA_kW_K 1000
deck HxCollUA_kW_K 1000
deck HxQSrcUA_kW_K 1000

deck HxEff 0.9
deck HxCollEff 0.9
deck HxQSrcEff 0.9

###### DISTRICT HEATING ######
deck SCnr_SCnr2_Len 1000
deck dpNrSlAxRef 5
deck dpNrSlCirc 2


############# USED DDCKs ##################

PROJECT$ generic\head global

PROJECT$ parameters\parameters as ps

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4

COMMON$ Bolr\type6

COMMON$ Hp\type977
COMMON$ Hp\ProDomo13-R410A

COMMON$ Hx\const_eff_hx as Hx
assign temp\HX_MO.prt HxunitMo
assign temp\HX_HR.prt HxunitHo

COMMON$ Hx\const_eff_hx as HxColl
assign temp\HXCOLL_MO.prt HxCollunitMo
assign temp\HXCOLL_HR.prt HxCollunitHo

COMMON$ Hx\const_eff_hx as HxQSrc
assign temp\HXSRC_MO.prt HxQSrcunitMo
assign temp\HXSRC_HR.prt HxQSrcunitHo

PROJECT$ pitStore\pitStore_20nodes
PROJECT$ pitStore\pitSoil_20nodes

PROJECT$ QSrc\QSrc
COMMON$ QSnk\QSnk

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation

COMMON$ HpControl\HpVariableMfr

COMMON$ ValStratControl\ValStrat_mikel

PROJECT$ control\ValHX as ValHX
PROJECT$ control\ValHP as ValHP
PROJECT$ control\variables global

PROJECT$ generic\end global
