############# GENERIC##############################

bool ignoreOnlinePlotter True
# bool ignoreOnlinePlotter False

bool removePopUpWindow True
# bool removePopUpWindow False

bool runCases False
# bool runCases True

string nameRef "PTES"

deck nIteTrnsys 500
deck nWarnTrnsys 10000000
deck nCallTraceTrnys 1000

############# AUTOMATIC WORK BOOL ##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ################################

string pathToConnectionInfo "DdckPlaceHolderValues.json"

string addResultsFolder "results"

string PROJECT$ ".\ddck"
string COMMON$ "..\common\ddck"

string projectPath "."

string trnsysExePath "C:\Users\damian.birchler\src\resultes\runner\create-disk-image\contents\TRNSYS18\Exe\TrnEXE.exe"

################SCALING#########################

string scaling "False" #"toDemand"

###### DEMAND ######
# TSetDem is defined in parameters\parameters.ddck

###### SOURCE ######
deck QSrcQ_MWh 0

###### PIT STORE ######
deck pitStoreIniT 30
deck pitStoreSlAng 27
deck pitStoreStHeight 16
deck pitStoreFlThCond 0.64*3.6
deck pitStoreFlThExpCoe 0.0004367
deck pitStoreFlVisc 0.000547*3600
# TTesMax (maximum PTES temperature) is defined in parameters\parameters.ddck

###### SOIL ######
deck pitStorecSoil 2800/pitStorerhoSoil
deck pitStorekSoil 1.8*3.6
deck pitStoreInEx 5
deck pitStorerhoSoil 2100

###### COLLECTOR ######
deck CollNbModTot CollAcollAp/CollAMod
deck loop2Len 500
deck CollNbNodes 10

###### HP ######
deck HpEta 0.4
deck HpAct 1
deck HPtCondMax 500

###### HX ######
deck HxUA_kW_K QSnkHourlyMax_kW/HxLMTDNom
deck HxLMTDNom 5

deck HxCollUA_kW_K CollAcollAp*1*Collc0/HxCollLMTDNom # The nominal power in the primary: A_coll[m2]*1[kW/m2]*a0
deck HxCollLMTDNom 5

deck HxQSrcUA_kW_K 1000


###### DISTRICT HEATING ######
deck SCnr_SCnr2_Len 1000
deck dpNrSlAxRef 5
deck dpNrSlCirc 2


############# USED DDCKs ##################

PROJECT$ generic\head global

PROJECT$ parameters\parameters as ps

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4
assign ..\..\ddck\parameters\SolarCollectorIAM.txt CollUnitReadIAM

COMMON$ Bolr\type6

COMMON$ Hp\type4052

COMMON$ Hx\Type5b as Hx
assign temp\HX_MO.prt HxunitMo
assign temp\HX_HR.prt HxunitHo

COMMON$ Hx\Type5b as HxColl
assign temp\HXCOLL_MO.prt HxCollunitMo
assign temp\HXCOLL_HR.prt HxCollunitHo

COMMON$ Hx\const_eff_hx as HxQSrc
assign temp\HXSRC_MO.prt HxQSrcunitMo
assign temp\HXSRC_HR.prt HxQSrcunitHo

PROJECT$ pitStore\pitStore_20nodes
PROJECT$ pitStore\pitSoil_20nodes

PROJECT$ QSrc\QSrc

COMMON$ QSnk\QSnk
assign ..\..\ddck\parameters\demand.csv QSnkprofileSnkUnit

COMMON$ weather\CityZUR global
COMMON$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\Stagnation

COMMON$ HpControl\HpVariableMfr

COMMON$ ValStratControl\ValStrat_mikel

PROJECT$ control\ValHX as ValHX
PROJECT$ control\ValHP as ValHP
PROJECT$ control\variables global

PROJECT$ generic\end global
