############# GENERIC##############################

bool ignoreOnlinePlotter True
int reduceCpu  2
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "DEBUG"
string defaultVisibility "local"

deck START 0    # 0 is midnight new year
deck STOP 8760*3 # 8640 is one year
deck dtSim 5/60
deck nIteTrnsys 50
deck nWarnTrnsys 10000000 # [-]

############# AUTOMATIC WORK BOOL ##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ################################

string PROJECT$ "C:\Daten\GIT\systems\PTES\ddck"
string COMMON$ "C:\Daten\GIT\systems\common\ddck"

string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"
string projectPath "."
string pathToConnectionInfo "DdckPlaceHolderValues.json"

################SCALING#########################

string scaling "False" #"toDemand"

#string nameRef "covap_results"
string runType "runFromConfig"
string addResultsFolder "results_basecase"


###### DEMAND ######
deck QSnkQ_MWh 30000
deck TSetDem 80
deck QSnkdT 30

###### SOURCE ######
deck QSrcQ_MWh 0

###### PIT STORE ######
deck pitStoreIniT 30
deck pitStoreSlAng 27
deck pitStoreStHeight 16
variation VTes pitStoreStVolume 100000 200000 300000 500000
#variation VTes szVperDemand_m3_per_MWh 1 2 5 10
#deck pitStoreStVolume szVperDemand_m3_per_MWh*QSnkQ_MWh
deck SolarControlTTesMax 85 # Maximum PTES temperature
deck SolarControlTTesMin SolarControlTTesMax-10

#deck pitStorecSoil 2800
deck pitStorekSoil 6.48

###### COLLECTOR ######
deck CollAcollAp 30000
#variation AColl szAperDemand_m2_per_MWh 1.5 2 2.5
#deck CollAcollAp szAperDemand_m2_per_MWh*QSnkQ_MWh
deck CollNbModTot CollAcollAp/CollAMod
deck loop2Len 500
deck CollNbNodes 10

###### HP ######
deck HPsizeUsed QSnkQ_MWh/10 #500
#variation HPsizeUsed_new HPsizeUsed 500 750 1000 1500 2000 2500
#variation HpAct_new HpAct 0 1
deck HpAct 1
deck HPtCondMax 500

###### HX ######
deck HxUA_kW_K CollAcollAp*1*Collc0/HxLMTDNom # 1000
deck HxLMTDNom 5

deck HxCollUA_kW_K CollAcollAp*1*Collc0/HxCollLMTDNom # The nominal power in the primary: A_coll[m2]*1[kW/m2]*a0   #1000
deck HxCollLMTDNom 5

deck HxQSrcUA_kW_K 1000
#deck HxQSrcLMTDNom 5

deck HxEff 0.9
deck HxCollEff 0.9
deck HxQSrcEff 0.9

###### DISTRICT HEATING ######
#deck dpLambdaFill 0.1
deck SCnr_SCnr2_Len 1000


############# USED DDCKs ##################

PROJECT$ generic\head global

#PROJECT$ sizing\sizing as sz

#PROJECT$ Coll\type1
#PROJECT$ Coll\type1_constants_CobraAK2_8V

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4

#PROJECT$ Bolr\type6
COMMON$ Bolr\type6

COMMON$ Hp\type977
COMMON$ Hp\ProDomo13-R410A

#PROJECT$ HxColl\Type5b
#PROJECT$ HxQSrc\Type5b
#PROJECT$ Hx\const_eff_hx

#COMMON$ Hx\const_eff_hx as Hx
COMMON$ Hx\Type5b as Hx
assign temp\HX_MO.prt HxunitMo
assign temp\HX_HR.prt HxunitHo

#COMMON$ Hx\const_eff_hx as HxColl
COMMON$ Hx\Type5b as HxColl
assign temp\HXCOLL_MO.prt HxCollunitMo
assign temp\HXCOLL_HR.prt HxCollunitHo

COMMON$ Hx\const_eff_hx as HxQSrc
assign temp\HXSRC_MO.prt HxQSrcunitMo
assign temp\HXSRC_HR.prt HxQSrcunitHo

PROJECT$ pitStore\pitStore
PROJECT$ pitStore\pitSoil

PROJECT$ QSrc\QSrc
COMMON$ QSnk\QSnk

PROJECT$ weather\CityZUR global
PROJECT$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\Stagnation
#COMMON$ SolarControl\SolarConstantMfr
#COMMON$ SolarControl\SolarVariableMfr

COMMON$ HpControl\HpVariableMfr

COMMON$ ValStratControl\ValStrat_mikel
#COMMON$ ValStratControl\ValStrat_damian

PROJECT$ control\ValHX as ValHX
PROJECT$ control\ValHP as ValHP
#PROJECT$ control\HP_temp_controller as HPcontrol
PROJECT$ control\variables global

PROJECT$ control\solites_hourly_printer global
PROJECT$ control\solites_monthly_printer global

PROJECT$ generic\end global
