############# GENERIC##############################

bool ignoreOnlinePlotter True
int reduceCpu  2
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "DEBUG"
string defaultVisibility "local"

deck START 0    # 0 is midnight new year
deck STOP  1000 #
deck dtSim 1/60
deck nIteTrnsys 20
deck nWarnTrnsys 10000000 # [-]

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "C:\Daten\GIT\systems\PTES\ddck"
string COMMON$ "C:\Daten\GIT\systems\common\ddck"

string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"
string projectPath "."
string pathToConnectionInfo "DdckPlaceHolderValues.json"

################SCALING#########################

string scaling "False" #"toDemand"

#string nameRef "covap_results"
string runType "runFromConfig"
string addResultsFolder "results"


###### DEMAND ######
deck QSnkQ_MWh 10000
deck T_set 50

###### SOURCE ######
deck QSrcQ_MWh 400

###### PIT STORE ######
deck pitStoreIniT 40
deck pitStoreSlAng 60
deck pitStoreStHeight 10
#deck pitStoreStVolume 30000
deck szVperDemand_m3_per_MWh 1 #2
deck pitStoreStVolume szVperDemand_m3_per_MWh*QSnkQ_MWh

###### COLLECTOR ######
#deck CollAcollAp 2000
deck szAperDemand_m2_per_MWh 1.5
deck CollAcollAp szAperDemand_m2_per_MWh*QSnkQ_MWh

###### HP ######
deck HPsizeUsed 500

###### DISTRICT HEATING ######
deck dpLambdaFill 0.1
deck SCnr_SCnr2_Len 100


############# USED DDCKs ##################

PROJECT$ generic\head global

PROJECT$ sizing\sizing as sz

PROJECT$ Coll\type1
PROJECT$ Coll\type1_constants_CobraAK2_8V

PROJECT$ Bolr\type6

PROJECT$ HP\type977
PROJECT$ HP\ProDomo13-R410A

PROJECT$ HxColl\const_eff_hx
PROJECT$ HxQSrc\const_eff_hx
PROJECT$ Hx\const_eff_hx

PROJECT$ pitStore\pitStore
PROJECT$ pitStore\pitSoil

PROJECT$ QSrc\QSrc
PROJECT$ QSnk\QSnk

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\SolarConstantMfr
#COMMON$ SolarControl\SolarVariableMfr

COMMON$ HpControl\HpVariableMfr

COMMON$ ValStratControl\ValStrat_mikel
#COMMON$ ValStratControl\ValStrat_damian

PROJECT$ control\ValHX as ValHX
PROJECT$ control\ValHP as ValHP
#PROJECT$ control\HP_temp_controller as HPcontrol
PROJECT$ control\variables global

PROJECT$ generic\end global











