############# GENERIC##############################

bool ignoreOnlinePlotter False
int reduceCpu  2
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "DEBUG"
string defaultVisibility "local"

deck START 0    # 0 is midnight new year
deck STOP  8640*1#
deck dtSim 5/60
deck nIteTrnsys 20
deck nWarnTrnsys 10000000 # [-]

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "./ddck"
string COMMON$ "../common/ddck"

string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"
string projectPath "."
string pathToConnectionInfo "DdckPlaceHolderValues.json"

################SCALING#########################

string scaling "False" #"toDemand"

#string nameRef "covap_results"
string runType "runFromConfig"
string addResultsFolder "results_type548"


###### DEMAND ######
deck QSnkQ_MWh 30000
deck TSetDem 80
deck QSnkdT 30

###### TANK ######
deck TesTmax_Tes1 200
deck TesTini_Tes1 30
#deck szVperDemand_m3_per_MWh 0.1 #2
deck TesVol_Tes1 3600 #szVperDemand_m3_per_MWh*QSnkQ_MWh
deck TesHeigh_Tes1 21.8
deck TesUaBot_Tes1 28.7 # 230 W/K in total
deck TesUaz1_Tes1 57.53 # 230 W/K in total
deck TesUaz2_Tes1 57.53 # 230 W/K in total
deck TesUaz3_Tes1 57.53 # 230 W/K in total
deck TesUaTop_Tes1 28.7 # 230 W/K in total

###### BOREHOLE ######
deck TSetBor 75
deck BoHxNRadReg 3
deck BoHxNIn 1
deck BoHxYearsSim STOP/8640+BoHxYearsPre
deck BoHxYearsPre 2
deck BoHxNBor 216
#deck BoHxRadOutPip 0.032
#deck BoHxRadInPip 0.0262
deck BoHxRBor 0.115/2
#deck BoHxRb 1/(0.0887*3.6)
#deck BoHxRa -1/(0.3598*3.6)
deck BoHxV 342120
deck BoHxZ 100

deck BoHxLambdaLayer 2.5*3.6
deck BoHxCpLayer 2400


#changeDDckFile N61 N18 #N61 N129
#variation BoHxLProbes_new BoHxLProbes 100 150 200

###### COLLECTOR ######
#deck szAperDemand_m2_per_MWh 1.5
#variation szAperDemand_m2_per_MWh_new szAperDemand_m2_per_MWh 1.5 #2 2.5
#deck CollNbNodes 10
deck CollAcollAp 30000
deck CollNbModTot CollAcollAp/CollAMod
deck loop4Len 1000
deck HxUA_kW_K 1000
#deck ControlTOutSet TSetDem+20

###### HP ######
#deck HPsizeUsed 1000 #500
deck HPQLoadMax_kW 3000
deck HPEta 0.4

###### DISTRICT HEATING ######
#deck dpLambdaFill 0.1
deck SCnr_SCnr2_Len 1000

###### CONTROL ######
deck SolarControldtColOn 5
deck SolarControldtColOff -5


############# USED DDCKs ##################

PROJECT$ generic\head global

PROJECT$ sizing\sizing as sz

#PROJECT$ Coll\type1
#PROJECT$ Coll\type1_constants_CobraAK2_8V

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4

PROJECT$ Tes\Tes
PROJECT$ Tes\Tes_ho_printer

COMMON$ Bolr\type6

#COMMON$ Hp\type977
#COMMON$ Hp\ProDomo13-R410A
COMMON$ Hp\type4052

COMMON$ Hx\Type5b

#PROJECT$ BoHx\N61
#PROJECT$ BoHx\Ghx951
PROJECT$ BoHx\type548\Type548b as BoHx

COMMON$ QSnk\QSnk

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global
PROJECT$ control\sizing global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\Stagnation
#COMMON$ SolarControl\SolarConstantMfr
#COMMON$ SolarControl\SolarVariableMfr

COMMON$ HpControl\HpVariableMfr

#PROJECT$ control\HP_temp_controller as HPcontrol
PROJECT$ control\variables global
PROJECT$ control\BoHx as ControlBor

PROJECT$ generic\end global











