############# GENERIC##############################

bool ignoreOnlinePlotter True
int reduceCpu  2
bool parseFileCreated True
bool runCases True
bool checkDeck True
string outputLevel "DEBUG"
string defaultVisibility "local"

deck START 0    # 0 is midnight new year
deck STOP  8640*1 #
deck dtSim 2/60
deck nIteTrnsys 20
deck nWarnTrnsys 10000000 # [-]

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string PROJECT$ "C:\Daten\GIT\systems\BTES\ddck"
string COMMON$ "C:\Daten\GIT\systems\common\ddck"

string trnsysExePath "C:\TRNSYS18\Exe\TRNExe.exe"
string projectPath "."
string pathToConnectionInfo "DdckPlaceHolderValues.json"

################SCALING#########################

string scaling "False" #"toDemand"

#string nameRef "covap_results"
string runType "runFromConfig"
string addResultsFolder "results"


###### DEMAND ######
deck QSnkQ_MWh 10000
deck TSetDem 50

###### TANK ######
deck TesTmax_Tes1 200
deck TesTini_Tes1 30
deck szVperDemand_m3_per_MWh 0.1 #2
deck TesVol_Tes1 szVperDemand_m3_per_MWh*QSnkQ_MWh

###### BOREHOLE ######
deck TSetBor 75
deck szVperDemand_m3_per_MWh 1 #2
deck pitStoreStVolume szVperDemand_m3_per_MWh*QSnkQ_MWh

###### COLLECTOR ######
#deck CollAcollAp 2000
deck szAperDemand_m2_per_MWh 1.5
deck CollAcollAp szAperDemand_m2_per_MWh*QSnkQ_MWh
deck CollNbModTot CollAcollAp/CollAMod
deck loop4Len 100
deck HxUA_kW_K 1000
#deck ControlTOutSet TSetDem+20

###### HP ######
deck HPsizeUsed 1000 #500

###### DISTRICT HEATING ######
deck dpLambdaFill 0.1
deck SCnr_SCnr2_Len 100

###### CONTROL ######
deck SolarControldtColOn 5
deck SolarControldtColOff -5


############# USED DDCKs ##################

PROJECT$ generic\head global

PROJECT$ sizing\sizing as sz

#PROJECT$ Coll\type1
#PROJECT$ Coll\type1_constants_CobraAK2_8V

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4

PROJECT$ Tes\Tes
PROJECT$ Tes\Tes_ho_printer

COMMON$ Bolr\type6

COMMON$ Hp\type977
COMMON$ Hp\ProDomo13-R410A

COMMON$ Hx\Type5b

PROJECT$ BoHx\Ghx951

PROJECT$ QSnk\QSnk

PROJECT$ weather\SMA_hourly global
PROJECT$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
#COMMON$ SolarControl\SolarConstantMfr
#COMMON$ SolarControl\SolarVariableMfr

COMMON$ HpControl\HpVariableMfr

#PROJECT$ control\HP_temp_controller as HPcontrol
PROJECT$ control\variables global
PROJECT$ control\BoHx as ControlBor

PROJECT$ generic\end global











