############# GENERIC##############################

bool ignoreOnlinePlotter True
# bool ignoreOnlinePlotter False

bool removePopUpWindow True
# bool removePopUpWindow False

bool runCases False
# bool runCases True

string nameRef "TTES"

deck nIteTrnsys 500
deck nWarnTrnsys 10000000
deck nCallTraceTrnys 1000

############# AUTOMATIC WORK BOOL ##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ################################

string pathToConnectionInfo "DdckPlaceHolderValues.json"

string addResultsFolder "results"

string PROJECT$ ".\ddck"
string COMMON$ "..\common\ddck"

string projectPath "."

string trnsysExePath "C:\Users\damian.birchler\src\resultes\runner\create-disk-image\contents\TRNSYS18\Exe\TrnEXE.exe"

################ SCALING #########################

string scaling "False"

###### DEMAND ######
# Values are defined in common\ddck\parameters\parameters.ddck

###### TANK STORE ######
deck TesTmax_Tes1 200
deck TesTini_Tes1 30
deck TesVol_Tes1 3600*(BoHxV/80640)*2
deck TesHeigh_Tes1 21.8*(BoHxV/80640*2)**(1/3)
deck TesUaBot_Tes1 28.7 # 230 W/K in total
deck TesUaz1_Tes1 57.53 # 230 W/K in total
deck TesUaz2_Tes1 57.53 # 230 W/K in total
deck TesUaz3_Tes1 57.53 # 230 W/K in total
deck TesUaTop_Tes1 28.7 # 230 W/K in total

###### BOREHOLE ######
deck TSetBor 75
deck BoHxNIn 1
deck BoHxYearsSim INT(STOP/8760+BoHxYearsPre)
deck BoHxYearsPre 30
deck BoHxRBor 0.115/2
deck BoHxRb 0.0887/3.6
deck BoHxRa -0.3598/3.6

deck BoHxLambdaLayer 2.5*3.6
deck BoHxCpLayer 2400

###### COLLECTOR ######
deck CollNbModTot CollAcollAp/CollAMod
deck loop4Len 500
deck CollNbNodes 10

###### HP ######
deck HpEta 0.4
deck HpQLoadMax_kW 500
deck HpTWanted TSetTes-CtrlBordTOnDischarOff+1

###### HX ######
deck HxUA_kW_K CollAcollAp*1*Collc0/HxLMTDNom # The nominal power in the primary: A_coll[m2]*1[kW/m2]*a0   #1000
deck HxLMTDNom 5


###### DISTRICT HEATING ######
deck SCnr_SCnr2_Len 1000
deck dpNrSlAxRef 5
deck dpNrSlCirc 2

###### CONTROL ######
deck SolarControldtColOn 5
deck SolarControldtColOff -5

############# USED DDCKs ##################

COMMON$ generic\head global

COMMON$ parameters\parameters as cps
PROJECT$ parameters\parameters as ps

COMMON$ Coll\Type1357
COMMON$ Coll\TVP_MT-Power_v4
assign ..\..\..\common\ddck\parameters\SolarCollectorIAM.txt CollUnitReadIAM

COMMON$ Bolr\type6

COMMON$ Hx\Type5b

COMMON$ Hp\type4052

PROJECT$ Tes\Tes
PROJECT$ Tes\Tes_ho_printer

PROJECT$ BoHx\type548\Type548b as BoHx

COMMON$ QSnk\QSnk
assign ..\..\..\common\ddck\parameters\demand.csv QSnkprofileSnkUnit

COMMON$ weather\CityZUR global
COMMON$ weather\weather_data_base global

PROJECT$ hydraulic\hydraulic global

PROJECT$ control\control global

COMMON$ SolarControl\SolarActivation
COMMON$ SolarControl\Stagnation

COMMON$ HpControl\HpVariableMfr

PROJECT$ control\BoHx as CtrlBor
PROJECT$ control\variables global

COMMON$ generic\end global











